<!DOCTYPE html>
<html>
    <header>
        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        {% endblock %}
    </header>
    <head>
        <title>
            Job Search
        </title>
    </head>
    <body>
        <div class="container">
            <div class="bg">
                <div class="title">
                    <h1>Job Search</h1>
                </div>
                <div class="searching">
                    <form action="/report" method="get">
                        <input placeholder="What job do you want?" required name="job-name" />
                        <button>Search</button>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>